* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
<<<<<<< HEAD
    color: rgb(rgb(0, 4, 255), green, blue);
=======
    color: rgb(rgb(38, 0, 255), green, blue);
>>>>>>> fix/title-color
}